.App {
  width: 40%;
  margin: 2em auto;
  background-color: #394049;
  border-radius: 5px;
  color: #FFF;
}

.todo-header {
  padding: 0.5em;
  border-bottom: 1px solid #2c3035;
  text-align: center;
}

.todo-header h1 {
  margin: 0;
}