.container-error {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-error img {
    max-width: 300px;
    margin: 24px 0;
    animation: shake 1s;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d( 2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.container-error h1 {
    color: #FFF;
}

.container-error a {
    background-color: #FFF;
    color: #132742;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 14px 0;
    font-weight: bold;
}