body {
    background: rgb(105, 105, 255);
    font: normal 15pt arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(105, 105, 105);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}