.links-container {
    max-width: 1120px;
    margin: 32px auto 0 auto;
}

.links-header {
    display: flex;
    flex-direction: row;
}

.links-header svg {
    margin-right: 14px;
}

.links-header h1 {
    color: #FFF;
}

.links-item {
    width: 700px;
    display: flex;align-items: center;
    flex-direction: row;
    margin-top: 8px;
}

.links-item:last-child {
    margin-bottom: 18px;
}

.link {
    border: 0;
    width: 100%;
    min-width: 80%;
    border-radius: 5px;
    height: 38px;
    background-color: rgb(255,255,255,0.25);
    margin-right: 14px;
    display: flex;
    align-items: center;
    padding: 0 14px;
    font-size: 14px;
    color: #FFF;
}

.link svg {
    margin-right: 14px;
}

.link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link-delete {
    border: 0;
    background: transparent;
}

@media(max-width:715px) {
    .links-container {
        width: 90%;
    }

    .logo h1 {
        font-size: 30px;
    }

    .links-item {
        width: 100%;
    }

    .link {
        width: 100%;
    }
}