.modal-container {
    position: absolute;
    bottom: 10px;
    background-color: #FFF;
    padding: 14px;
    width: 600px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-header button {
    border: 0;
    background: transparent;
}

.modal-container span {
    margin: 14px 0;
    color: #A7A7A7;
    font-size: 14px;
}

.modal-link {
    background-color: #172742;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
    height: 30px;
    border: 0;
    color: #FFF;
    border-radius: 5px;
}

@media (max-width:735px) {
    .modal-container {
        width: 90%;
        bottom: 30px;
    }
}